.body            
{
    margin:auto;
    width:1024px;
    padding:10px;
    background-color:#ffb5b5;
    font-size: x-large;
    
}

.table
{
    font-size: xx-large;
}

.a
{
    font-size: large;
}